Day01/day01part1.class
Day01/day01.txt
Day01/day01part2.class
Day01/day01part2.class
Day02/day02.txt
Day02/day02part1.class
Day02/day02part2.class
AdventOfCode2023.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Day04/day04.txt
*.txt
.vscode/settings.json
